@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  background-color: green;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  background-image: linear-gradient(green, white, green) no-repeat center center fixed;
  background-size: 100%;
}

h1 {
  display: flex;
  text-align: left;
}

nav {
  height: 100px;
  flex-direction: row-reverse;
  display: flex;
  align-items: end;
  gap: 105rem;
  margin-right: 1rem;
}
nav ul li {
  display: inline-block;
}

.escudo {
  width: 10%;
  height: 100%;
}

.titulo {
  text-align: center;
}

main {
  background-image: url(../img/fondo-definitivo\ \(3\).png);
}

.menú {
  display: flex;
}

.piedepagina {
  background-color: green;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(green, white, green);
}

.copas {
  width: 10px;
}

.youtube {
  width: 50px;
  border-radius: 50%;
}

.twitter {
  width: 50px;
  border-radius: 45%;
}

.twich {
  width: 40px;
  border-radius: 40%;
}

.tiktok {
  width: 50px;
  border-radius: 45%;
}

.instagram {
  width: 50px;
  border-radius: 50%;
}

.Onefootball {
  width: 70px;
  border-radius: 50%;
}

.copas {
  width: 100px;
}

.título {
  text-align: center;
  text-decoration: underline;
  color: yellow;
}

input {
  width: 200px;
  height: 20px;
}

@media (min-width: 768px) {
  main {
    background-image: url(../img/fondo-definitivo\ \(3\).png);
  }
}
@media (min-width: 1200px) {
  main {
    background-image: url(../img/fondo-definitivo.png);
  }
}
.menú {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-content: center;
  gap: 200x;
  margin: 10%;
  height: auto;
}

.articulo1 {
  height: auto;
  width: auto;
  margin: auto;
  align-content: center;
  justify-content: center;
  color: white;
}

.articulo2 {
  color: white;
}

.articulo3 {
  color: white;
}

@media (min-width: 750px) {
  .menú1 {
    width: 65rem;
    height: 65rem;
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: repeat(2, auto);
  }
  .articulo1 {
    width: 10rem;
    height: 10rem;
    margin: 5rem;
    grid-row: span 2;
    align-self: center;
  }
  .articulo2 {
    width: 10rem;
    height: 10rem;
    justify-self: center;
  }
  .articulo3 {
    width: 10rem;
    height: 10rem;
    justify-self: center;
  }
}
.menú4 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (min-width: 768px) {
  .menú4 {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
.menú3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.menú3 article h3 {
  text-align: center;
}

.texto {
  color: white;
}

.maps {
  height: auto;
  width: auto;
}

.texto {
  height: auto;
  width: auto;
}

.galeria {
  height: 250px;
  width: 200px;
  align-content: center;
}

@media (min-width: 768px) {
  .menú3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.menú5 {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: repeat(2, auto) 300px;
  gap: 50 px;
}

.titulo-socio {
  text-align: center;
  text-decoration: underline;
}

.socio {
  background-image: url("../img/el-taladro(3).jpg");
  width: 500px;
  height: 400px;
  text-align: center;
  grid-column: span 2;
  justify-self: center;
}

.beneficios {
  color: white;
}

.Categorias {
  color: white;
}

.atencion {
  text-align: center;
  grid-column: span 2;
  justify-self: center;
  color: white;
}

@media (min-width: 768px) {
  .menú5 {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto 300px;
    gap: 50px;
  }
  .socio {
    background-image: url("../img/el-taladro(2).jpg");
    width: 500px;
    height: 400px;
    text-align: center;
    grid-column: span 3;
    justify-self: center;
  }
  .atencion {
    grid-column: span 1;
    text-align: center;
    justify-self: center;
  }
  .beneficios {
    grid-column: span 1;
  }
  .categorias {
    grid-column: span 1;
  }
}
.menú2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h3 {
  color: white;
}

.deportiva {
  height: 200px;
  width: 200px;
}

.accesorios {
  height: 200px;
  width: 200px;
}

.stock {
  height: 200px;
  width: 200px;
}

.objetos {
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  .menú2 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    padding: 100px;
    gap: 100px;
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1023px) {
  .menú2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
