* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-principal: green;
$color-secundario: white;
$color-titulos: yellow;


.encabezado {
    background-color: $color-principal;
    padding: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient($color-principal, $color-secundario, $color-principal);
}

h1 {
    display: flex;
    text-align: left;
    justify-content: center;
}

nav {
    height: auto;
    flex-direction: row-reverse;
    display: flex;
    align-items: end;
    gap: 105rem;
    margin-right: 1rem;
    ul {
        li {
            display: inline-block;
        }
    }
}

a{
    text-decoration: none;
    color: $color-secundario;
    font-weight: bolder;
    &:hover{
        color: black;
    }
}


.escudo {
    width: 10%;
    height: 100%;
}

.titulo {
    text-align: center;

}


.menú {
    display: flex;
}

.piedepagina {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient($color-principal, $color-secundario, $color-principal);
}

.youtube {
    width: 100px;
    border-radius: 70%;
}

.twitter {
    width: 100px;
    border-radius: 40%;
}

.twich {
    width: 100px;
    border-radius: 35%;
}

.tiktok {
    width: 100px;
    border-radius: 45%;
}

.instagram {
    width: 100px;
    border-radius: 40%;
}

.Onefootball {
    width: 100px;
    border-radius: 80%;
}

.copas {
    width: 100px;
}

.título {
    text-align: center;
    text-decoration: underline;
}

input {
    width: 200px;
    height: 20px;
}

@media(min-width:768px){
    .encabezado{
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 100px;
    }
    nav{
        height: 100px;
    }
}