* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-principal:green;
$color-secundario:white;
$color-titulos:yellow;


.encabezado {
    background-color: $color-principal;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    background-image:linear-gradient($color-principal,$color-secundario, $color-principal) no-repeat center center fixed;
    background-size:100%;
}
h1{
   display: flex;
   text-align: left;
}

nav {
    height: 100px;
    flex-direction: row-reverse;
    display: flex;
    align-items: end;
    gap: 105rem;
    margin-right: 1rem;
    ul{
        li{
            display: inline-block;
        }
    }
}


.escudo {
    width: 10%;
    height: 100%;
}

.titulo {
    text-align: center;

}

main{
    background-image: url(../img/fondo-definitivo.png);
}
.menú {
    display: flex;
}

.piedepagina {
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient($color-principal,$color-secundario, $color-principal);
}

.copas{
    width: 10px;
}
.youtube {
    width: 50px;
    border-radius: 50%;
}

.twitter {
    width: 50px;
    border-radius: 45%;
}

.twich {
    width: 40px;
    border-radius: 40%;
}

.tiktok {
    width: 50px;
    border-radius: 45%;
}

.instagram {
    width: 50px;
    border-radius: 50%;
}

.Onefootball {
    width: 70px;
    border-radius: 50%;
}

.copas{
    width: 100px;
}

.título{
    text-align: center;
    text-decoration: underline;
    color:$color-titulos;
}

input {
    width: 200px;
    height: 20px;
}