* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//font-family: 'Anton', sans-serif;
//font-family: 'Tilt Prism', cursive;
//font-family: 'Bebas Neue', sans-serif;



ul li {
    text-decoration: none;
}

$color-principal: green;
$color-secundario: white;
$color-titulos: yellow;


.encabezado {
    background-color: $color-principal;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient($color-principal, $color-secundario, $color-principal);
}

h1 {
    display: flex;
    text-align: left;
    justify-content: center;
    font-family: 'Tilt Prism', sans-serif;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 10px 10px 10px $color-principal;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
}



nav {
    height: auto;
    flex-direction: row-reverse;
    display: flex;
    align-items: end;
    gap: 105rem;
    margin-right: 1rem;

    ul {
        li {
            display: inline-block;
        }
    }
}

a {
    text-decoration: none;
    color: $color-secundario;
    font-weight: bolder;

    &:hover {
        color: black;
    }
}


.escudo {
    width: 10%;
    height: 100%;
}

.titulo {
    text-align: center;

}

.principal {
    height: auto;
    justify-content: center;
}

body {
    background-color: rgba(128, 128, 128, 0.404);
}

.menu {
    display: flex;
}

.piedepagina {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient($color-principal, $color-secundario, $color-principal);
}

.youtube {
    width: 50px;
    border-radius: 90%;
}

.twitter {
    width: 50px;
    border-radius: 80%;
}

.twich {
    width: 50px;
    border-radius: 80%;
}

.tiktok {
    width: 50px;
    border-radius: 80%;
}

.instagram {
    width: 50px;
    border-radius: 80%;
}

.Onefootball {
    width: 50px;
    border-radius: 80%;
}

.copas {
    width: 90px;
}

.titulo {
    text-align: center;
    text-decoration: underline;
}

input {
    width: 200px;
    height: 20px;
}

@media(min-width:768px) {
    .encabezado {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 100px;
    }

    nav {
        height: 100px;
    }
}