.menu4 {
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
}


.contacto{
    border-top: 4px $color-principal solid ;
    border-bottom: 4px $color-principal solid;
}


@media(min-width:768px) {
    .menu4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }
}