.menu {
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 200x;
    margin: 10%;
    height: auto;
}



.articulo1 {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

.articulo2 {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;

}

.articulo3 {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

@media(min-width:1010px) {
    .menu1 {
        gap: 50px;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 30rem 30rem;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-content: center;
    }

    .articulo1 {
        width: auto;
        height: auto;
        margin: 5rem;
        grid-row: span 2;
        align-self: center;
    }

    .articulo2 {
        width: auto;
        height: auto;
        justify-self: center;
    }

    .articulo3 {
        width: auto;
        height: auto;
        justify-self: center;
    }
}

@media(min-width:1200px) {
    .menu1 {
        display: flex;
        flex-direction: row;
    }
}