.menú5 {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: repeat(2, auto) 300px;
    gap: 50 px;
}

.titulo-socio {
    text-align: center;
    text-decoration: underline;
}

.socio {
    background-image: url("../img/el-taladro(3).jpg");
    width: 500px;
    height: 400px;
    text-align: center;
    grid-column: span 2;
    justify-self: center;
}


.atencion {
    text-align: center;
    grid-column: span 2;
    justify-self: center;
}

@media(min-width:768px) {
    .menú5 {
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto 300px;
        gap: 50px;
    }

    .socio {
        background-image: url("../img/el-taladro(2).jpg");
        width: 500px;
        height: 400px;
        text-align: center;
        grid-column: span 3;
        justify-self: center;
    }

    .atencion {
        grid-column: span 1;
        text-align: center;
        justify-self: center;
    }

    .beneficios {
        grid-column: span 1;
    }

    .categorias {
        grid-column: span 1;
    }
}